@{
    ViewBag.Title = "Home Page";
}


<!-- Start of Banner section
    ============================================= -->
<section id="xis-dia-banner" class="xis-dia-banner-section position-relative" data-background="Content/assets/img/digital_f/bg/bn-bg2.png">
    <div class="xis-dia-banner-shape1 position-absolute"><img src="Content/assets/img/digital_f/shape/banner-sh1.png" alt=""></div>
    <div class="container">
        <div class="xis-dia-banner-content position-relative">
            <div class="xis-dia-banner-text xis-dia-headline pera-content index-heading">
                <h1 class="cd-headline clip is-full-width">
                    Welcome To The Better
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Education</b>
                        <b>Future</b>
                        <b>Environment</b>
                    </span>
                </h1>
                <p>
                    A better platform for your school management.
                </p>
                <div class="xis-dia-btn">
                    <a class="d-flex justify-content-center align-items-center text-uppercase" id="hire" href="#">Join Us <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="xis-dia-banner-img position-absolute wow zoomIn scene indexImg1-container" data-wow-delay="400ms" data-wow-duration="1500ms">
                @*<img class="layer" data-depth="0.2" src="Content/assets/img/digital_f/bg/banner-img1.png" alt="">*@
                <img class="layer indexImg1 " data-depth="0.2" src="~/Content/gallaryImage/indexImg1.png" alt="">
            </div>
            <div class="xis-dia-banner-sponsor">
            </div>
        </div>
    </div>
</section>
<!-- End of Banner section
    ============================================= -->
<!-- Start of Features section
    ============================================= -->
<section id="xis-dia-service " class="xis-dia-service-section position-relative">
    <span class="xis-dia-side-shape1 position-absolute"><img src="Content/assets/img/digital_f/shape/side-sh1.png" alt=""></span>
    <span class="xis-dia-service-shape2 position-absolute"><img src="Content/assets/img/digital_f/shape/dot-sh1.png" alt=""></span>
    <div class="container">
        <div class="xis-dia-section-title xis-dia-headline text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <span>FEATURES</span>
            <h2>
                Our unique Features

            </h2>
        </div>
        <div class="xis-dia-service-content">
            <div class="xis-dia-service-content-area">
                <div class="row index-feature">
                    <div class="col-lg-3 col-md-6 wow fadeInUp " data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="xis-dia-service-inner-item index-feature-img text-center position-relative" id="service-box1">
                            <span class="xis-dia-service-shape  position-absolute"><img src="Content/assets/img/digital_f/shape/hv-sh1.png" alt=""></span>
                            <div class="xis-dia-service-icon index-img-container  position-relative">
                                <img src="Content/assets/img/digital_f/icon/ic1.png" alt="">
                            </div>
                            <div class="xis-dia-service-text xis-dia-headline pera-content">
                                <h3><a href="#">All in one</a></h3>
                                <p>
                                    All in one control via ERP (Website/app/paymnent/enquiry)
                                </p>
                            </div>
                            <div class="xis-dia-service-more index-text-uppercase">
                                <a class="text-uppercase " href="/Features">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="xis-dia-service-inner-item index-feature-img text-center position-relative">
                            <span class="xis-dia-service-shape position-absolute"><img src="Content/assets/img/digital_f/shape/hv-sh1.png" alt=""></span>
                            <div class="xis-dia-service-icon index-img-container position-relative">
                                <img src="Content/assets/img/digital_f/icon/ic2.png" alt="">
                            </div>
                            <div class="xis-dia-service-text xis-dia-headline pera-content">
                                <h3><a href="#">Biometric id-card</a></h3>
                                <p>
                                    Makes attendance on one touch
                                </p>
                            </div>
                            <div class="xis-dia-service-more">
                                <a class="text-uppercase" href="/Features">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="xis-dia-service-inner-item index-feature-img text-center position-relative">
                            <span class="xis-dia-service-shape  position-absolute"><img src="Content/assets/img/digital_f/shape/hv-sh1.png" alt=""></span>
                            <div class="xis-dia-service-icon index-img-container position-relative">
                                <img src="Content/assets/img/digital_f/icon/ic3.png" alt="">
                            </div>
                            <div class="xis-dia-service-text xis-dia-headline pera-content">
                                <h3><a href="#">Live class</a></h3>
                                <p>
                                    Enjoy live class at very low cost
                                </p>
                            </div>
                            <div class="xis-dia-service-more">
                                <a class="text-uppercase" href="/Features">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                        <div class="xis-dia-service-inner-item index-feature-img text-center position-relative">
                            <span class="xis-dia-service-shape position-absolute"><img src="Content/assets/img/digital_f/shape/hv-sh1.png" alt=""></span>
                            <div class="xis-dia-service-icon index-img-container position-relative">
                                <img src="Content/assets/img/digital_f/icon/ic4.png" alt="">
                            </div>
                            <div class="xis-dia-service-text xis-dia-headline pera-content">
                                <h3><a href="#">Payment</a></h3>
                                <p>
                                    Multipayment method
                                </p>,
                            </div>
                            <div class="xis-dia-service-more">
                                <a class="text-uppercase" href="/Features">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xis-dia-service-meta pera-content text-center wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                <p>Need more services according to wish? <a href="/Contact">Contact us</a> to get more services.</p>
            </div>
        </div>
    </div>
</section>
<!-- End of Features section
    ============================================= -->
<!-- Start of About section
    ============================================= -->
<section id="xis-dia-about" class="xis-dia-about-section position-relative">
    <span class="xis-dia-side-shape1 position-absolute"><img src="Content/assets/img/digital_f/shape/side-sh2.png" alt=""></span>
    <div class="container">
        <div class="xis-dia-about-content position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <div class="xis-dia-about-img-wrapper ">
                        <div class="xis-dia-about-img1 position-relative" data-parallax='{"x" : -30}'>

                            <img class="indexImg2" src="~/Content/gallaryImage/indexImg2.png" alt="">
                        </div>
                        <div class="xis-dia-about-img2 position-absolute" data-parallax='{"x" : 30}'>
                            <img src="Content/assets/img/digital_f/about/ab2.png" alt="">
                        </div>
                        <div class="xis-dia-about-img3 position-absolute wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">

                        </div>
                        <div class="xis-dia-about-img4 position-absolute wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="xis-dia-about-text-wrapper">
                        <div class="xis-dia-section-title xis-dia-headline wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <span></span>
                            <h2>
                                About Us
                            </h2>
                        </div>
                        <div class="xis-dia-about-text-content pera-content ul-li-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <p>We are providing out best services to the clinet so that they don't have to face any problem .'</p>
                            <div class="xis-dia-about-list">
                                <ul>
                                    <li>Understand your need.</li>
                                    <li>Full fill your needs</li>
                                    <li>Deliver your product on time</li>
                                    <li>Provides your best support 24 X 7</li>
                                </ul>
                                <div class="xis-dia-btn">
                                    <a class="d-flex justify-content-center align-items-center text-uppercase" href="/About" style="color:white">Know More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xis-dia-about-counter-wrapper d-flex justify-content-end">

        </div>

    </div>
</section>
<!-- End of About section
    ============================================= -->
<!-- Start of Testimonial section
    ============================================= -->
<section id="xis-dia-testimonial" class="xis-dia-testimonial-section position-relative">
    <span class="xis-dia-testi-side-shape1 position-absolute"><img src="Content/assets/img/digital_f/shape/side-sh3.png" alt=""></span>
    <span class="xis-dia-testi-side-shape2 position-absolute"><img src="Content/assets/img/digital_f/shape/side-sh4.png" alt=""></span>
    <div class="container">
        <div class="xis-dia-section-title xis-dia-headline text-center">
            <span>Testimonial</span>
            <h2>
                Digital marketing can be
                complex, but we help
            </h2>
        </div>
        <div class="xis-dia-testimonial-content position-relative">
            <span class="xis-dia-testi-circle1 position-absolute"><img src="Content/assets/img/digital_f/shape/cir3.png" alt=""></span>
            <span class="xis-dia-testi-circle2 position-absolute"><img src="Content/assets/img/digital_f/shape/cir2.png" alt=""></span>
            <span class="xis-dia-testi-circle3 position-absolute"><img src="Content/assets/img/digital_f/shape/cir3.png" alt=""></span>
            <span class="xis-dia-testi-circle4 position-absolute"><img src="Content/assets/img/digital_f/shape/cir2.png" alt=""></span>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                        <img src="Content/assets/img/digital_f/testimonial/tf1.jpg" alt="">
                    </button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="1">
                        <img src="Content/assets/img/digital_f/testimonial/tf2.jpg" alt="">
                    </button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="2">
                        <img src="Content/assets/img/digital_f/testimonial/tf3.jpg" alt="">
                    </button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="3">
                        <img src="Content/assets/img/digital_f/testimonial/tf4.jpg" alt="">
                    </button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="4">
                        <img src="Content/assets/img/digital_f/testimonial/tf5.jpg" alt="">
                    </button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="5">
                        <img src="Content/assets/img/digital_f/testimonial/tf6.jpg" alt="">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="xis-dia-testimonial-inner-item text-center">
                            <div class="xis-dia-author-img-wrapper position-relative">
                                <div class="xis-dia-author-img">
                                    <img src="Content/assets/img/digital_f/testimonial/testi1.jpg" alt="">
                                </div>
                                <div class="xis-dia-quote position-absolute">
                                    <img src="Content/assets/img/digital_f/shape/quote.png" alt="">
                                </div>
                            </div>
                            <div class="xis-dia-testi-text pera-content xis-dia-headline">
                                <p>
                                    “ Digital marketing can be very complex, but our team is here to help you through this process and get tangible results. We work with exceptional companies and make it our mission to help them
                                    succeed. We are equipped with all the skillsets.”
                                </p>
                                <div class="xis-dia-author">
                                    <h3 class="xis-dia-name">Linda Jhon</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="xis-dia-testimonial-inner-item text-center">
                            <div class="xis-dia-author-img-wrapper position-relative">
                                <div class="xis-dia-author-img">
                                    <img src="Content/assets/img/digital_f/testimonial/testi1.jpg" alt="">
                                </div>
                                <div class="xis-dia-quote position-absolute">
                                    <img src="Content/assets/img/digital_f/shape/quote.png" alt="">
                                </div>
                            </div>
                            <div class="xis-dia-testi-text pera-content xis-dia-headline">
                                <p>
                                    “ Digital marketing can be very complex, but our team is here to help you through this process and get tangible results. We work with exceptional companies and make it our mission to help them
                                    succeed. We are equipped with all the skillsets.”
                                </p>
                                <div class="xis-dia-author">
                                    <h3 class="xis-dia-name">Linda Jhon</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="xis-dia-testimonial-inner-item text-center">
                            <div class="xis-dia-author-img-wrapper position-relative">
                                <div class="xis-dia-author-img">
                                    <img src="Content/assets/img/digital_f/testimonial/testi1.jpg" alt="">
                                </div>
                                <div class="xis-dia-quote position-absolute">
                                    <img src="Content/assets/img/digital_f/shape/quote.png" alt="">
                                </div>
                            </div>
                            <div class="xis-dia-testi-text pera-content xis-dia-headline">
                                <p>
                                    “ Digital marketing can be very complex, but our team is here to help you through this process and get tangible results. We work with exceptional companies and make it our mission to help them
                                    succeed. We are equipped with all the skillsets.”
                                </p>
                                <div class="xis-dia-author">
                                    <h3 class="xis-dia-name">Linda Jhon</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="xis-dia-testimonial-inner-item text-center">
                            <div class="xis-dia-author-img-wrapper position-relative">
                                <div class="xis-dia-author-img">
                                    <img src="Content/assets/img/digital_f/testimonial/testi1.jpg" alt="">
                                </div>
                                <div class="xis-dia-quote position-absolute">
                                    <img src="Content/assets/img/digital_f/shape/quote.png" alt="">
                                </div>
                            </div>
                            <div class="xis-dia-testi-text pera-content xis-dia-headline">
                                <p>
                                    “ Digital marketing can be very complex, but our team is here to help you through this process and get tangible results. We work with exceptional companies and make it our mission to help them
                                    succeed. We are equipped with all the skillsets.”
                                </p>
                                <div class="xis-dia-author">
                                    <h3 class="xis-dia-name">Linda Jhon</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="xis-dia-testimonial-inner-item text-center">
                            <div class="xis-dia-author-img-wrapper position-relative">
                                <div class="xis-dia-author-img">
                                    <img src="Content/assets/img/digital_f/testimonial/testi1.jpg" alt="">
                                </div>
                                <div class="xis-dia-quote position-absolute">
                                    <img src="Content/assets/img/digital_f/shape/quote.png" alt="">
                                </div>
                            </div>
                            <div class="xis-dia-testi-text pera-content xis-dia-headline">
                                <p>
                                    “ Digital marketing can be very complex, but our team is here to help you through this process and get tangible results. We work with exceptional companies and make it our mission to help them
                                    succeed. We are equipped with all the skillsets.”
                                </p>
                                <div class="xis-dia-author">
                                    <h3 class="xis-dia-name">Linda Jhon</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="xis-dia-testimonial-inner-item text-center">
                            <div class="xis-dia-author-img-wrapper position-relative">
                                <div class="xis-dia-author-img">
                                    <img src="Content/assets/img/digital_f/testimonial/testi1.jpg" alt="">
                                </div>
                                <div class="xis-dia-quote position-absolute">
                                    <img src="Content/assets/img/digital_f/shape/quote.png" alt="">
                                </div>
                            </div>
                            <div class="xis-dia-testi-text pera-content xis-dia-headline">
                                <p>
                                    “ Digital marketing can be very complex, but our team is here to help you through this process and get tangible results. We work with exceptional companies and make it our mission to help them
                                    succeed. We are equipped with all the skillsets.”
                                </p>
                                <div class="xis-dia-author">
                                    <h3 class="xis-dia-name">Linda Jhon</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xis-dia-testimonial-carousel-icon d-flex justify-content-center  position-relative">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonial section
    ============================================= -->
<!-- Start of Team section
    ============================================= -->
<section id="xis-dia-team" class="xis-dia-team-section position-relative">
    <span class="xis-dia-fnw-shape2 position-absolute"><img src="Content/assets/img/digital_f/shape/side-sh5.png" alt=""></span>
    <div class="container">
        <div class="xis-dia-section-title xis-dia-headline text-center wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
            <span>Team member</span>
            <h2>
                Our Expert team will
                help you.
            </h2>
        </div>
        <div class="xis-dia-team-content">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="xis-dia-team-inner-box position-relative">
                        <div class="xis-dia-inner-img">
                            <img class="team-image" src="~/Content/gallaryImage/utkarsh.png" alt="">
                        </div>
                        <div class="xis-dia-inner-text-social xis-dia-headline position-absolute">
                            <div class="xis-dia-inner-text">
                                <h3><a href="#">Utkarsh Kumar</a></h3>
                                <span>Software developer</span>
                            </div>
                            <div class="xis-dia-inner-social">
                                <a class="sc-fb" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="sc-tw" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="sc-ins" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="sc-pin" href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="xis-dia-team-inner-box position-relative">
                        <div class="xis-dia-inner-img">
                            <img class="team-image" src="~/Content/gallaryImage/sourabh.png" alt="">
                        </div>
                        <div class="xis-dia-inner-text-social xis-dia-headline position-absolute">
                            <div class="xis-dia-inner-text">
                                <h3><a href="#">Sourabh Roy</a></h3>
                                <span>Software Developer</span>
                            </div>
                            <div class="xis-dia-inner-social">
                                <a class="sc-fb" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="sc-tw" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="sc-ins" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="sc-pin" href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="xis-dia-team-inner-box position-relative">
                        <div class="xis-dia-inner-img">
                            <img class="team-image"  src="~/Content/gallaryImage/Ashutosh.png" alt="">
                        </div>
                        <div class="xis-dia-inner-text-social xis-dia-headline position-absolute">
                            <div class="xis-dia-inner-text">
                                <h3><a href="#">Ashutoh Ranjan </a></h3>
                                <span>Software developer</span>
                            </div>
                            <div class="xis-dia-inner-social">
                                <a class="sc-fb" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="sc-tw" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="sc-ins" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="sc-pin" href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Team section
    ============================================= -->
