
@{
    ViewBag.Title = "Management";
}


<!-- Start of Banner section
    ============================================= -->
<section id="eight-banner" class="eight-banner-section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="eight-banner-content">
                    <div class="banner-content-box appeight-headline pera-content">
                        <h1 class="cd-headline clip is-full-width">
                            The new website
                            for
                            <span class="cd-words-wrapper">
                                <b class="is-visible">app landing</b>
                                <b>showcase</b>
                                <b>screenshoot</b>
                            </span>
                        </h1>
                        <P>SaaSio is the best software platform for running an internet business. </P>
                        <div class="ei-banner-btn">
                            <a href="#"><i class="fas fa-power-off"></i> Start Now</a>
                            <a href="#"><span>or</span> try it for free</a>
                        </div>
                        <div class="ei-banner-review pera-content ul-li">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <p>(based on <span>1,256 task</span> reviews)</p>
                        </div>
                    </div>
                    <div class="ei-banner-mbl-mockup wow fadeInRight management-img-container" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <img class="management-img" src="~/Content/gallaryImage/software.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('Content/assets/img/dark-img/dw1.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('Content/assets/img/dark-img/dw2.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('Content/assets/img/dark-img/dw3.png')"></div>
        </div>
    </div>
</section>
<!-- End of Banner section
    ============================================= -->
<!-- Start of featured service section
    ============================================= -->
<section id="featured_service" class="featured_service_section relative-position">
    <div class="container">
        <div class="section_title text-center">
            <div class="title_tag">
                <div class="tag_icon float-left">
                    <i class="flaticon-diamond"></i>
                </div>
                Fetaured service
            </div>
            <div class="section_title_text saas-modern-headline pera-content">
                <h2>Why you  <span>will choose?</span></h2>
                <p>As a SAAS web crawler expert, I help organizations adjust to the expanding significance of internet promoting.</p>
            </div>
        </div>
        <!-- /section-title -->
        <div id="featured_scroll" class="featured_content clearfix">
            <ul>
                <li>
                    <div class="featured_icon_text text-center relative-position">
                        <div class="featured_icon relative-position text-center">
                            <i class="flaticon-settings"></i>
                        </div>
                        <div class="featured_text saas-modern-headline">
                            <h3>Easy to edit</h3>
                            <p>Google Ad campaigns are an effective  target receptive audience they get you.</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="featured_icon_text text-center relative-position">
                        <div class="featured_icon relative-position text-center">
                            <i class="flaticon-analytics"></i>
                        </div>
                        <div class="featured_text saas-modern-headline">
                            <h3>Branding</h3>
                            <p>Make sure your brand assets contribute to your company’s personality and reputation.</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="featured_icon_text text-center relative-position">
                        <div class="featured_icon relative-position text-center">
                            <i class="flaticon-user"></i>
                        </div>
                        <div class="featured_text saas-modern-headline">
                            <h3>Marketing Analysis</h3>
                            <p>Your content is an integral part of your SEO efforts and online marketing strategy.</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="featured_icon_text text-center relative-position">
                        <div class="featured_icon relative-position text-center">
                            <i class="flaticon-pencil"></i>
                        </div>
                        <div class="featured_text saas-modern-headline">
                            <h3>UI/UX Designing</h3>
                            <p>eque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End of featured service section
    ============================================= -->
<!-- Start of compare section
    ============================================= -->
<section id="compare-1" class="compare_section">
    <div class="container">
        <div class="compare_content_item">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="compare_content">
                        <div class="compare_title saas-modern-headline pera-content">
                            <h2>
                                Compare our SaaSio software
                                to google alytics
                            </h2>
                            <p>Your site is about people, not sessions. Your data should be too.</p>
                        </div>
                        <div class="compare_list ul-li-block">
                            <ul>
                                <li><i class="flaticon-right-arrow"></i> <span>Tie data to a real person</span></li>
                                <li><i class="flaticon-right-arrow"></i> <span>See a user’s full customer journey across devices</span></li>
                                <li><i class="flaticon-right-arrow"></i> <span>Discover the drop-off points for every flow on your site</span></li>
                            </ul>
                            <div class="compare_btn text-center">
                                <a href="%21.html#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="compare_img relative-position">
                        <div class="com_img zooming">
                            <img src="~/Content/gallaryImage/management-image.png" alt="">
                        </div>
                        <div class="img_shape">
                            <span class="compare_shape1" data-parallax='{"x" : -40}'><img src="/Content/assets/img/saas-m/featured/c-shape1.png" alt=""></span>
                            <span class="compare_shape2" data-parallax='{"x" : 40}'><img src="/Content/assets/img/saas-m/featured/c-shape2.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of compare section
    ============================================= -->
<!-- Start of compare section
    ============================================= -->
<section id="compare-2" class="compare_section compare_section_two">
    <div class="container">
        <div class="compare_content_item">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="compare_img relative-position">
                        <div class="com_img zooming">
                            <img src="/Content/assets/img/saas-m/featured/comp2.png" alt="">
                        </div>
                        <div class="img_shape">
                            <span class="compare_shape1" data-parallax='{"x" : -40}'><img src="assets/img/saas-m/featured/c-shape3.png" alt=""></span>
                            <span class="compare_shape2" data-parallax='{"x" : 40}'><img src="assets/img/saas-m/featured/c-shape.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="compare_content">
                        <div class="compare_title saas-modern-headline pera-content">
                            <h2>
                                If you don’t have behavioral
                                analytics, you need it!
                            </h2>
                        </div>
                        <div class="compare_list ul-li-block">
                            <ul>
                                <li><i class="flaticon-right-arrow"></i> <span>You need to know which features are most valuable by tracking the defining characteristics of each person.</span></li>
                                <li><i class="flaticon-right-arrow"></i> <span> Your customers are people, not website sessions</span></li>
                                <li><i class="flaticon-right-arrow"></i> <span> And your business depends on people coming back again and again as you want.</span></li>
                            </ul>
                            <div class="compare_btn text-center">
                                <a href="%21.html#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of compare section
    ============================================= -->
<!-- Start of theme feature
    ============================================= -->
<section id="theme_feature" class="theme_feature_section">
    <div class="container">
        <div class="theme_feature_area">
            <div class="row">
                <div class="col-md-6 wow fadeFromLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="theme_feature_content features_one saas-modern-headline pera-content">
                        <h3>SaaSio theme for SAAS</h3>
                        <p>See which features and content are driving your site’s conversions.</p>
                        <div class="theme_feature_list ul-li">
                            <ul>
                                <li><i class="flaticon-check"></i><span> Convert more trials into paying customers</span></li>
                                <li><i class="flaticon-check"></i><span> Reduce churn</span></li>
                                <li><i class="flaticon-check"></i><span> Generate more revenue per customer</span></li>
                                <li><i class="flaticon-check"></i><span> Measure monthly recurring revenue by cohort</span></li>
                                <li><i class="flaticon-check"></i><span> Lifetime value by customer type</span></li>
                            </ul>
                        </div>
                        <div class="read_btn text-center">
                            <a href="%21.html#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeFromRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="theme_feature_content features_two saas-modern-headline pera-content">
                        <h3>SaaSio theme for E-Commerce</h3>
                        <p>Discover the characteristics that define your "big spenders" so you can market to them.</p>
                        <div class="theme_feature_list ul-li">
                            <ul>
                                <li><i class="flaticon-check"></i><span> Easily integrate with Shopify</span></li>
                                <li><i class="flaticon-check"></i><span> Optimize your checkout funnel</span></li>
                                <li><i class="flaticon-check"></i><span> Increase new and repeat purchases</span></li>
                                <li><i class="flaticon-check"></i><span> See lifetime value by category</span></li>
                                <li><i class="flaticon-check"></i><span> Report on subscription revenue</span></li>
                            </ul>
                        </div>
                        <div class="read_btn text-center">
                            <a href="%21.html#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of theme feature
    ============================================= -->
<!-- Start of trusted user
    ============================================= -->
<section id="trusted_user" class="trusted_user_section">
    <div class="container">
        <div class="trusted_content">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="trusted_content_img ul-li">
                        <ul>
                            <li><img src="assets/img/saas-m/user/us1.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us2.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us3.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us4.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us5.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us6.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us7.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us8.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us9.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us10.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us11.png" alt=""></li>
                            <li><img src="assets/img/saas-m/user/us12.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="user_content">
                        <div class="section_title">
                            <div class="title_tag">
                                <div class="tag_icon text-center float-left">
                                    <i class="flaticon-link"></i>
                                </div>
                                Our partners
                            </div>
                            <div class="section_title_text saas-modern-headline pera-content">
                                <h2>Trusted By 25,000+ Users <span>looks so awesome!</span></h2>
                                <p>Try with your favorite tool and save yourself from manually managing bugs and tasks. Also fits with your theme.</p>
                            </div>
                        </div>
                        <div class="user_text">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic web designs. The passage to an unknown typesetter.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Start of trusted user
    ============================================= -->
<!-- Start of partner section
    ============================================= -->
<section id="partner" class="partner_section relative-position">
    <div class="container">
        <div class="section_title text-center">
            <div class="title_tag">
                <div class="tag_icon float-left">
                    <i class="flaticon-diamond"></i>
                </div>
                Our Team
            </div>
            <div class="section_title_text saas-modern-headline pera-content">
                <h2>Meet  <span>Our Team</span></h2>
                <p>As a SAAS web crawler expert, I help organizations adjust to the expanding significance of internet promoting.</p>
            </div>
        </div>
        <!-- /section-title -->
        <div class="partner_member">
            <div class="row">
                <div class="col-lg-3 col-md-6  wow fadeFromLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="mem_img_text">
                        <div class="mem_img_line relative-position">
                            <div class="mem_pic relative-position">
                                <img src="/Content/assets/img/saas-m/partner/p1.jpg" alt="">
                                <div class="member_social ul-li">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span class="line_shape1"></span>
                            <span class="line_shape2"></span>
                        </div>
                        <div class="mem_text text-center">
                            <div class="mem_name_designation saas-modern-headline pera-content">
                                <h4><a href="#">Phillip Macintyre</a></h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  wow fadeFromLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="mem_img_text">
                        <div class="mem_img_line relative-position">
                            <div class="mem_pic relative-position">
                                <img src="/Content/assets/img/saas-m/partner/p2.jpg" alt="">
                                <div class="member_social ul-li">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span class="line_shape1"></span>
                            <span class="line_shape2"></span>
                        </div>
                        <div class="mem_text text-center">
                            <div class="mem_name_designation saas-modern-headline pera-content">
                                <h4><a href="#">Charlie B. Smith</a></h4>
                                <p>App Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  wow fadeFromLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="mem_img_text">
                        <div class="mem_img_line relative-position">
                            <div class="mem_pic relative-position">
                                <img src="/Content/assets/img/saas-m/partner/p3.jpg" alt="">
                                <div class="member_social ul-li">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span class="line_shape1"></span>
                            <span class="line_shape2"></span>
                        </div>
                        <div class="mem_text text-center">
                            <div class="mem_name_designation saas-modern-headline pera-content">
                                <h4><a href="#">Timothy B. Garza</a></h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  wow fadeFromLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="mem_img_text">
                        <div class="mem_img_line relative-position">
                            <div class="mem_pic relative-position">
                                <img src="/Content/assets/img/saas-m/partner/p4.jpg" alt="">
                                <div class="member_social ul-li">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span class="line_shape1"></span>
                            <span class="line_shape2"></span>
                        </div>
                        <div class="mem_text text-center">
                            <div class="mem_name_designation saas-modern-headline pera-content">
                                <h4><a href="#">Nicholas Thomas</a></h4>
                                <p>Theme Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line_animation">
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
    </div>
</section>
<!-- End of partner section
    ============================================= -->
<!-- Start of testimonial section
    ============================================= -->
<section id="testimonial" class="testimonial_section">
    <div class="container">
        <div class="section_title text-center">
            <div class="title_tag">
                <div class="tag_icon float-left">
                    <i class="flaticon-diamond"></i>
                </div>
                Client’s testimonials
            </div>
            <div class="section_title_text saas-modern-headline pera-content">
                <h2>We serve<span> our clients</span></h2>
                <p>
                    As a Saas developer or web crawler expert, I help
                    organizations adjust to the expanding significance.
                </p>
            </div>
        </div>
        <!-- /section-title -->
        <div class="testimonial_slider">
            <div id="testimonial_slide" class="carousel slide" data-ride="carousel">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial_indicator relative-position">
                            <ol class="carousel-indicators">
                                <li data-target="#testimonial_slide" data-slide-to="0" class="active">
                                    <img src="/Content/assets/img/saas-m/testimonial/tst1.png" alt="">
                                </li>
                                <li data-target="#testimonial_slide" data-slide-to="1">
                                    <img src="/Content/assets/img/saas-m/testimonial/tst2.png" alt="">
                                </li>
                                <li data-target="#testimonial_slide" data-slide-to="2">
                                    <img src="/Content/assets/img/saas-m/testimonial/tst3.png" alt="">
                                </li>
                                <li data-target="#testimonial_slide" data-slide-to="3">
                                    <img src="/Content/assets/img/saas-m/testimonial/tst4.png" alt="">
                                </li>
                                <li data-target="#testimonial_slide" data-slide-to="4">
                                    <img src="/Content/assets/img/saas-m/testimonial/tst5.png" alt="">
                                </li>
                                <li data-target="#testimonial_slide" data-slide-to="5">
                                    <img src="/Content/assets/img/saas-m/testimonial/tst6.png" alt="">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="carousel_preview">
                            <div class="carousel-inner relative-position">
                                <div class="carousel-item active">
                                    <div class="testimonial_content">
                                        <div class="testimonial_text relative-position pera-content">
                                            <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                            <div class="testimonial_rating ul-li">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qoute_mark relative-position"></div>
                                        <div class="testimonial_name_designation">
                                            <div class="testimonial_img float-left">
                                                <img src="/Content/assets/img/saas-m/testimonial/tst1.png" alt="">
                                            </div>
                                            <div class="testimonial_meta saas-modern-headline pera-content">
                                                <h4>Nepoli Dewan</h4>
                                                <p>SEO Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /slide item -->
                                <div class="carousel-item">
                                    <div class="testimonial_content">
                                        <div class="testimonial_text relative-position pera-content">
                                            <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                            <div class="testimonial_rating ul-li">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qoute_mark relative-position"></div>
                                        <div class="testimonial_name_designation">
                                            <div class="testimonial_img float-left">
                                                <img src="assets/img/saas-m/testimonial/tst2.png" alt="">
                                            </div>
                                            <div class="testimonial_meta saas-modern-headline pera-content">
                                                <h4>Rameli Andrea</h4>
                                                <p>SEO Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /slide-item -->
                                <div class="carousel-item">
                                    <div class="testimonial_content">
                                        <div class="testimonial_text relative-position pera-content">
                                            <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                            <div class="testimonial_rating ul-li">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qoute_mark relative-position"></div>
                                        <div class="testimonial_name_designation">
                                            <div class="testimonial_img float-left">
                                                <img src="assets/img/saas-m/testimonial/tst1.png" alt="">
                                            </div>
                                            <div class="testimonial_meta saas-modern-headline pera-content">
                                                <h4>Nepoli Dewan</h4>
                                                <p>SEO Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /slide item -->
                                <div class="carousel-item">
                                    <div class="testimonial_content">
                                        <div class="testimonial_text relative-position pera-content">
                                            <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                            <div class="testimonial_rating ul-li">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qoute_mark relative-position"></div>
                                        <div class="testimonial_name_designation">
                                            <div class="testimonial_img float-left">
                                                <img src="assets/img/saas-m/testimonial/tst3.png" alt="">
                                            </div>
                                            <div class="testimonial_meta saas-modern-headline pera-content">
                                                <h4>Nepoli Dewan</h4>
                                                <p>SEO Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /slide item -->
                                <div class="carousel-item">
                                    <div class="testimonial_content">
                                        <div class="testimonial_text relative-position pera-content">
                                            <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                            <div class="testimonial_rating ul-li">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qoute_mark relative-position"></div>
                                        <div class="testimonial_name_designation">
                                            <div class="testimonial_img float-left">
                                                <img src="assets/img/saas-m/testimonial/tst4.png" alt="">
                                            </div>
                                            <div class="testimonial_meta saas-modern-headline pera-content">
                                                <h4>Nepoli Dewan</h4>
                                                <p>SEO Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /slide item -->
                                <div class="carousel-item">
                                    <div class="testimonial_content">
                                        <div class="testimonial_text relative-position pera-content">
                                            <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                            <div class="testimonial_rating ul-li">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qoute_mark relative-position"></div>
                                        <div class="testimonial_name_designation">
                                            <div class="testimonial_img float-left">
                                                <img src="assets/img/saas-m/testimonial/tst5.png" alt="">
                                            </div>
                                            <div class="testimonial_meta saas-modern-headline pera-content">
                                                <h4>Nepoli Dewan</h4>
                                                <p>SEO Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /slide item -->
                            </div>
                            <a class="carousel-control-prev" href="#testimonial_slide" role="button" data-slide="prev"></a>
                            <a class="carousel-control-next" href="#testimonial_slide" role="button" data-slide="next"></a>
                            <!-- /carosel arrow -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
