
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Responsive Payment getway form design in Hindi</title>
    <link rel="stylesheet" type="text/css" href="~/Content/customcss/payment.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="left">
                <h3>School Care</h3>
                <form>
                    Full name
                    <input type="text" name="" placeholder="Enter name">
                    Email
                    <input type="text" name="" placeholder="Enter email">

                    Roll no
                    <input type="text" name="" placeholder="Enter roll no">

                    Class
                    <input type="text" name="" placeholder="Enter class">
                    <div id="zip">
                        <label>
                            Fee Type
                            <select>
                                <option>Choose fee type..</option>
                                <option>Tution Fee</option>
                                <option>Examination Fee</option>
                                <option>Medical Fee</option>
                                <option>Sports Fee</option>
                                <option>Other Fee</option>
                            </select>
                        </label>
                        <label>
                            Amount
                            <input type="number" name="" placeholder="Zip code">
                        </label>
                    </div>
                </form>
            </div>
            <div class="right">
                <h3>Payment</h3>
                <form>
                    Accepted Card <br>
                    <img src="~/Content/gallaryImage/card1.png" width="100">
                    <img src="~/Content/gallaryImage/card2.png" width="50">
                    <br><br>

                    Credit card number
                    <input type="text" name="" placeholder="Enter card number">

                    Exp month
                    <input type="text" name="" placeholder="Enter Month">
                    <div id="zip">
                        <label>
                            Exp year
                            <select>
                                <option>Choose Year..</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                                <option>2028</option>
                                <option>2029</option>
                                <option>2030</option>
                            </select>
                        </label>
                        <label>
                            CVV
                            <input type="number" name="" placeholder="CVV">
                        </label>
                    </div>
                </form>
                <input type="submit" name="" value="Proceed to Checkout">
            </div>
        </div>
    </header>
</body>
</html>