
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecture-videos</title>
    <link rel="stylesheet" href="~/Content/customcss/video.css" />
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/Content/assets/C_Image/sc-favicon.png" type="image/x-icon">
</head>
<body>
    <h3 class="heading">
        <button class="home" onclick="window.open('/Dashboard','_self')"><i class="fa-solid fa-backward">&nbsp; Back</i></button>
        <img src="~/Content/assets/C_Image/school-care-p.png?width=120" alt="SchoolCare" />
    </h3>
    <div class="container">
        <div class="mainvideo">
            <div class="video">
                <video src="~/Content/customvideos/video1.mp4" controls muted autoplay controlsList="nodownload"></video>
                <h3 class="title">01. Basics of data structure</h3>
            </div>
        </div>

        <div class="videolist">
            <div class="vid active" id="temp">
                <video src="~/Content/customvideos/video1.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">01. Basics of data structure</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video2.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">02. Types of data structure</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video3.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">03. Definition and Advantages</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video4.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">04. Data type vs abstract data type</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video5.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">05. Asymptotic nodes</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/demon.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">06. anime demon slayer</h3>
            </div> <div class="vid active" id="temp">
                <video src="~/Content/customvideos/video1.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">07. Basics of data structure</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video2.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">08. Types of data structure</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video3.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">09. Definition and Advantages</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video4.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">10. Data type vs abstract data type</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/video5.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">11. Asymptotic nodes</h3>
            </div>
            <div class="vid">
                <video src="~/Content/customvideos/demon.mp4" muted poster="Content/gallaryImage/lecture1.png"></video>
                <h3 class="title">12. anime demon slayer</h3>
            </div>
        
        </div>
    </div>
    <script src="~/Scripts/customscripts/video.js"></script>
</body>

</html>
